:root {
    --color-brand-light: #819857;
    --color-brand-dark: #465929;
    --color-primary-light: #faf4ea;
    --color-primary-dark: #31261a;
    --color-secondary-dark: #A18268;
    --color-secondary-light: #CFCFBC;

}