

@font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/poppins-v20-latin-300.woff2') format('woff2');   
}

@font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/poppins-v20-latin-regular.woff2') format('woff2');   
}

@font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/poppins-v20-latin-600.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/poppins-v20-latin-900.woff2') format('woff2');
}

:root {
    --color-brand-light: #819857;
    --color-brand-dark: #465929;
    --color-primary-light: #faf4ea;
    --color-primary-dark: #31261a;
    --color-secondary-dark: #A18268;
    --color-secondary-light: #CFCFBC;

}

*,
*::before,
*::after {
    box-sizing: border-box;
}


body {
    color: var(--color-primary-dark);
    font-family: poppins, sans-serif;
    background-color: var(--color-primary-light);
font-size: 18px;
font-weight: 400;
line-height: 1.5;
margin: 0%;
}

h1, h2, h3, h4, h5, h6, p {
    margin-top: 0%;
}


/* base */

ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.section {
    padding: 48px 0;
   
}

.container {
    width: 100%;
    max-width: 1288px;
    margin: 0 auto;
    padding: 0 24px ;
}


address {
    font-style: normal;
}

a {
    display: inline-block;       /* задает размері для ссілок, как для блоков, но не растягивает их */
}


/* header */
/* link */

.header-conteiner {
    display: flex;
    align-items: center;
}

.header-nav {
    flex-grow: 1;
    display: flex;
    align-items: center;
}

.nav-menu {
    display: flex;
    gap: 64px;
    flex-grow: 1;
    justify-content: center;
}

.link {color: var(--color-primary-light);
    text-decoration: none;}

.link:hover {
    color: var(--color-brand-light);

}

/* button */
.button {
    color: var(--color-primary-light);
    background-color: var(--color-brand-light);
    border: 2px solid var(--color-brand-light);
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;
}

.button:hover {
    color: var(--color-brand-dark);
    background-color: transparent;
}

.hidden {
    position: absolute;
    left:-1000px;
top: auto;
width: 1px;
height: 1px;
overflow: hidden;
}

/* hero section */

.hero-section {
    padding: 272px 0;
     background-image: url('/images/image\ 1559.jpg');
     background-position: center top;
    background-repeat: no-repeat;
    background-size: contain;
}

.hero-title {
    margin-bottom: 0%;
  color: var(--color-primary-light);
 text-align: center;
 font-size: 128px;
 font-weight: 700;
}

.hero-title .accent {
    color: var(--color-brand-light);
}

/* adv sec */
.advantages-section {
    padding: 16px 0;
    background-color: var(--color-brand-light);
}

.advantages-list {
    color: var(--color-primary-light);
    display: flex;
    justify-content: space-between;
    gap: 40px;
   
}

.advantages-item {
    font-size: 20px;
    font-weight: 300;
}

.section-title {
    font-size: 64px;
    font-weight: 700;
    line-height: 1.3;
}

.section-title.centered {
    text-align: center;
}

 .section-title .accent {
    color: var(--color-brand-dark);
 }

 
 /* traditions section */

 .traditions-section {
    padding-top: 96px;
 }

 .traditions-title {
    margin-bottom: 42px;
 }

 .traditions-conteiner {
    display: flex;
    justify-content: space-between;
    gap: 40px;
 }
 
 .traditions-content {
max-width: 710px;
 }

 .traditions-text .brand-uppercase {
    color: var(--color-brand-light);
    text-transform: uppercase;
 }

 .traditions-text .brand {
     color: var(--color-brand-light);

 }

 /* chefs */
 .chefs-title {
     margin: 0 auto 80px;        /* посередине, отступ снизу */
     position: relative;
 }

 .chefs-title::before,             /* псевдо-элементы */
 .chefs-title::after {
    position: absolute;
    bottom: 24px;
    display: block;             /* сделали блоком,ю чтоб можно было задавать размеры */
    width: 352px;
    border: 2px solid #cfcfbc;
    content: '';                  /* обязательное поле, иначе видно не будет */
 }

  .chefs-title::before {
    left: 0;
  }

   .chefs-title::after {
    right: 0;
   }

 .chef-title {   
    margin-bottom: 16px;
    font-size: 40px;
    font-weight: 600;
 }

 .chefs-list {
    display: flex;
    gap: 40 px 30px;     /* задали расстояние между верт. карточками и гориз, на будущее добавили возможность расщирять список щефов вниз */
    flex-wrap: wrap;
 }

 .chefs-item {
    flex-basis: calc((100% - 30px) / 2);
    
 }

 .chef-card {
    display: flex;
    gap: 30px;   
 }

 .chef-image {
   border-radius: 4px 4px 4px 200px;    /* задать фигуру картинки */
    box-shadow: -16px 16px 0 0 var(--color-primary-light), -16px 16px 0 2px var(--color-secondary-dark);
}

.chef-text p {      
    margin-bottom: 24px;
}

.chef-text p:last-child {
    margin-bottom: 0;
}


 /* format */

 .formats-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
 }

 .formats-container {
    display: flex;
    gap: 32px;
    align-items: center;
 }

 .formats-item {
    flex-basis: calc((100% - 40px) / 3);      /* расчитывает размер трех элементов поровну с учетом гапов в 40пх,  */ 
 }

 .format-card {
    width: 349px;
    height: 444px;
    padding: 24px;
    background-image: linear-gradient(180deg, rgba(49, 38, 26, 0.00) 55.21%, rgba(49, 38, 26, 0.71) 72.92%, #31261A 100%);
    border: 1px solid lightgray;
    border-radius: 16px;
 }

 .formats-title {
    margin-bottom: 80px;
 }
 .format-title {
    font-size: 24px;
        font-weight: 600;

 }

 .format-text {
    font-size: 14px;
        font-weight: 300;

 }

 .carousel-button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;                     /* сжатие элемента */ 
    width: 44px;
    height: 44px;
    padding: 0;
    background-color: transparent;
    border-radius: 50%;
    border: 1px solid var(--color-primary-dark);
 }

 .carousel-arrow {
    fill: var(--color-primary-dark);
 }

 .carousel-button:hover {
        background-color: var(--color-primary-dark);
 }

 .carousel-arrow:hover {
    fill: var(--color-primary-light);
 }

 /* contacts section */
 .contacts-section {
    padding-bottom: 96px;
 }

.contact-container {
    display: flex;
    gap: 32px;
}

.map {
    flex-shrink: 0;
    border: none;
    border-radius: 16px;
}

.contacts-title {
    margin-bottom: 16px;
}

 /* footer */

 .footer {
    padding: 32px 0;
 }

 .footer-container {
    display: flex;
    gap: 20px;
 }

 .footer-nav,
 .footer-address {
    display: flex;
    flex-basis: 50%;
    gap: 20px;
 }

 .footer-logo,
 .footer-menu { 
    flex-grow: 1;          /* занимает по 50% пространства с другим 1 */
 
}

.footer-icons {
    display: flex;
}

 .address-list,
 .address-info {
flex-grow: 1;

 }

 .footer-menu li:not(:last-child) {    /* задает маргин всем ли в меню, кроме последнего */
    margin-bottom: 16px;
 }
 
 .adres-link {
    font-size: 16px;
    font-weight: 300;
    color: var(--color-primary-light);
    text-decoration: none;
    margin-bottom: 16px;

 }

 .adres-link:hover {
     color: var(--color-brand-light);
     font-weight: 600;}

     .dani {
        font-size: 14px;
            font-weight: 300;
            color: var(--color-primary-light);
     }

     .footer {
       background-image: url('/images/foot.png');
       background-color: var(--color-primary-dark);
       background-repeat: no-repeat;
       background-size: cover;
       background-position: center;
     }  

     .address-icon {
        fill: var(--color-primary-light);
     }

     .address-icon:hover {
        fill: var(--color-brand-dark);
     }